body {
    font-family: Arial, sans-serif;
}

.calender-wrapper {
    padding: 10px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.preWeek,
.nextWeek,
.newBooking {
    background-color: rgb(255, 175, 2);
    border: none;
    border-radius: 4px;
    height: 40px;
    color: #ffffff;
    cursor: pointer;
}

.newBooking{
    background-color: #bb3e03;
}

.monthSelect {
    background-color: #d2d2d2;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
}

#currentMonth {
    font-size: 1.2em;
    font-weight: bold;
}

.calendar-view {
    float: right;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 0;
    position: relative;
    height: 60px;
    /* Adjust as needed */
}

th {
    background-color: #f4f4f4;
}

td {
    position: relative;
    width: 100px;
    /* Adjust as needed */
}

/* .half-day {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 30px;
    position: relative;
} */

.booked {
    background-color: #ffc300;
}

.available {
    background-color: #fff6b1;
}

/* .tooltip {
    display: none;
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    white-space: nowrap;
} */

/* .half-day:hover .tooltip {
    display: block;
} */

.controls {
    margin-bottom: 20px;
}

.controls select {
    margin-left: 10px;
}

.day-cell {
    display: flex;
    flex-direction: row;
    height: 60px;
}

.hour-cell {
    flex: 1;
    height: 100%;
    width: 4px;
    /* position: relative; */
}

.hour-cell[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 3px;
    white-space: pre-line;
    z-index: 1;
    font-size: 0.9em;
    line-height: 1.4;
    width: 160px;
}

.booked {
    /* background-color: rgb(95, 132, 252); */
    opacity: 0.7;
}

.past-booked {
    background-color: #c8c8c8;
    /* Or any color you prefer for past bookings */
}

.modal-container, .modal-container-2 {
    position: fixed !important;
    z-index: 10000;
    right: -100%;
    top: 0;
    width: 100%;
    /* max-width: 400px;  */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-out;
}

.calendar-modal, .new-booking{
    /* display: none; */
    position: fixed;
    z-index: 1000;
    right: -100%;
    top: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-out;
}

.new-booking{
    max-width: 45%;
}

/*  */
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.model-content-title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

/*  */
.calendar-modal.show, .new-booking.show {
    right: 0;
}

.modal-content, .modal-content-2 {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}

.close, .close2 {
    /* position: absolute; */
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}