/* .food-items{
    text-align: center;
} */

.menu-category {
    background: #ffffff;
    border-radius: 5px;

}

.menu-category ul li {
    list-style-type: none;
    display: inline-block;
    font-weight: 500;

}

.menu-category li {
    padding: 10px 10px;
}

.item-card2 {
    margin: 10px;
    background: #fff;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px #e1e1e1;
    min-height: 180px;
    width: 120px;
    overflow-wrap: break-word;
    overflow: hidden;
    text-align: center;

}

.item-card2 .card-img img {
    width: 90px;
    height: 90px;
    overflow: hidden;
    object-fit: cover;
    margin: 10px;
    /* border-radius: 4px 4px 0 0; */
    border-radius: 999px;
    box-shadow: 2px 2px #9e9e9e;

}

.item-card2 .card-info .price {
    font-weight: bold;
}

.item-card2 .card-info .title {
    line-height: 1.2;
}

.card-info {
    padding-left: 5px;
    padding-right: 5px;
}

.price, .title {
    text-align: center;
}

.price {}

.bill {
    /* background: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 15px 1px  #e1e1e1; */

    position: fixed;
    top: 50px;
    right: 0;
    width: 450px;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.order-list{
    list-style-type: none;
}

.order-item-li .order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
}

.order-item-li{
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
  
.order-item-li .qty-info,   .order-item-li .item-info,
.order-item-li .qty-control,   .order-item-li .delete-item {
    margin-right: 30px; 
}

.order-item-li button{
    border: none;
}

/*  */
.order-item {
    display: flex;
    align-items: center;
}

.qty-info {
    width: 30px;
    text-align: center;
}

.item-info {
    flex: 1;
    min-width: 0;
}

.item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.qty-control {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.delete-item {
    margin-left: 10px;
}
